@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*SETTINGS*/
:root {
    --color-primary: #11b899;
}


html,
body,
a,
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}



/*HEADER*/
header {
    background: #0a314a;
    padding: 10px 0 10px 0;
}

#navbarNavAltMarkup {
    justify-content: end;
}

header .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

header .nav-link:hover,
header .nav-link:active,
header .nav-link::selection,
header .nav-link:focus {
    color: var(--color-primary);
}

.logo {
    max-width: 100%;
    width: 280px;
}

.navbar-toggler {
    background-color: var(--color-primary);
}



/*JUMBOTRON*/
.carousel-caption{
    background: rgba(0, 0, 0, 50%);
}












/*FOOTER*/
footer {
    background: #0a314a;
    padding: 50px 0 50px 0;
}
.footer__logo{
    max-width: 200px;
}
.footer__title{
    color: #fff;
    font-size: 20px;
}
.footer__list{
    margin-top: 10px;
}
.footer__list li,
.footer__list li a{
    color: #fff;
    text-decoration: none;
}
.copyright{
    text-align: center;
    font-size: 10px;
    color: #fff;
    margin-top: 10px;
}