@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*SETTINGS*/
:root {
    --color-primary: #11b899;
}


html,
body,
a,
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}



/*HEADER*/
header {
    background: #0a314a;
    padding: 10px 0 10px 0;
}

#navbarNavAltMarkup {
    justify-content: end;
}

header .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

header .nav-link:hover,
header .nav-link:active,
header .nav-link::selection,
header .nav-link:focus {
    color: var(--color-primary);
}

.logo {
    max-width: 100%;
    width: 280px;
}

.navbar-toggler {
    background-color: var(--color-primary);
}



/*JUMBOTRON*/
.carousel-caption {
    background: rgba(0, 0, 0, 50%);
}




/*MAIN GENERAL*/
.main__title {
    font-size: 40px;
    margin-top: 50px;
    font-weight: 900;
}


/*SERVICES*/
#service .card {
    margin-top: 10px;
}

/*CATALOG*/
.catalog__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 100%;
}
.catalog__col{
    border: 1px solid #999;
    border-radius: 10px;
}
.catalog__img{
    max-width: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: all ease 1s;
}
.catalog__img:hover{
    opacity: 50%;
}
.catalog__title{
    font-size: 18px;
    font-weight: 900;
    padding: 4px 10px 4px 10px;
}
.catalog__detail{
    padding: 4px 10px 10px 10px;
}


/*FOOTER*/
footer {
    background: #0a314a;
    padding: 50px 0 50px 0;
    margin-top: 100px;
}

.footer__logo {
    max-width: 200px;
}

.footer__title {
    color: #fff;
    font-size: 20px;
}

.footer__list {
    margin-top: 10px;
}

.footer__list li,
.footer__list li a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    text-align: center;
    font-size: 10px;
    color: #fff;
    margin-top: 10px;
}

.footer__rrss {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer__rrss img {
    width: 30px;
}





/*MEDIAS QUERIES*/
@media only screen and (max-width: 800px) {
    .catalog__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}